.Bubble{
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    border: 1px solid #008000;
    box-shadow: 0 0 15px blue;
}
.Bubble-1{
    left: 200px;
    animation: bub 8s infinite ease;
}

@keyframes bub {
    0%{
        left: 0;
        top: 0;
    }
    25%{
        left: 0;
        top: 200px;
    }
    50%{
        left: 300px;
        top: 200px;
    }
    75%{
        left: 400px;
        top: 300px;
    }
    100%{
        left: 250px;
        top: 250px;
    }
}